*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8FEF9;
}

body button, body p {
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #021406;
}

.flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row-end {
    display: flex;
    justify-content: end;
    align-items: center;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.padding-right-25 {
    padding-right: 25px;
}

.calculator {
    background-color: #5DD9EB;

    width: 500px;
    height: 650px;

    margin-top: 35px;

    border-radius: 15px;
}

.display {
    background-color: #6377a9;

    width: 450px;
    height: 100px;

    margin: 15px 25px;

    overflow: hidden;

    border-radius: 15px;
}

.display-text {
    font-size: 3rem;
    margin: 0 25px;
    overflow: hidden;
}

.operations {
    width: 100px;
    height: 500px;

    margin: 0 25px;
}

.main-container {
    display: flex;
    flex-direction: column;

    justify-content: end;
    align-items: end;

    width: 300px;
    height: 500px;
}

.numpad {

    width: 300px;
    height: 400px;
}

.num-btn, .decimal-btn {
    background-color: #78EFE2;
}

.util-btn {
    background-color: #A180B9 ;
}

.num-btn, .operation-btn, .util-btn, .decimal-btn {
    width: 100px;
    height: 100px;
}

.operation-btn {
    background-color: #20E44F;
}

.zero-btn {
    width: 200px;
    height: 100px;
}

.decimal-btn {
    font-weight: bolder;
}

button {
    border-radius: 10px;
}